$velogL: #2ed4a3;
$velogN: #20c997;
$velogD: #12b886;

@mixin totalHeight {
  height: 2.5rem;
}

@mixin maxSize {
  max-width: 480px;
  margin: 0 auto;
  height: 2.5rem;
}

@mixin innerSize {
  width: 80%;
  margin: 0 auto;
}

@mixin flexDefault {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 1rem auto;
}

@mixin shadow {
  box-shadow: 5px 5px 15px 5px lightgrey;
}
@mixin shadowMini {
  box-shadow: 1px 1px 5px 1px lightgrey;
}

@mixin hoverEvent {
  cursor: pointer;
  &:hover {
    background: $velogL;
  }
}

@mixin buttonDefault {
  font-weight: bold;
  border: none;
}

@mixin overflowOpt {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}


.mypageBox {
  display: flex;
  flex-direction: column;
}
// header
.mypageHeader {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 768px;
  margin: 4rem auto 0;

  input[type=text] {
    align-self: end;
    width: 10rem;
  }

  div {
    display: flex;
    align-self: center;
    span {
      width: 8rem;
      text-align: center;
      font-size: 1.5rem;
      padding: .5rem 1.5rem;
      cursor: pointer;
    }
  }
}

.activeTapBtn {
  color: $velogN;
  border-bottom: 2px solid $velogN;
}

// 태그 핸들러 부분
.tagHandlerDesktopBox {
  // position: absolute;
  // width: 11.5rem;
  // left: 13.5rem;
}
.tagHandlerDesktopOuter {
  position: relative;
}


.mypageContent {
  margin: 0 auto;
  width: 100%;
  max-width: 768px;
}

// 포스트 부분
.post {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 4rem 0;
  border-bottom: 1px solid lightgray;
  // @include shadow();

  img {
    height: 25rem;
    margin: 1rem 0;
  }


  button {
    width: 4rem;
    margin: .5rem;
    height: 1.5rem;
    border-radius: .75rem;
    background: $velogL;
    color: white;
    @include buttonDefault();
    @include shadowMini();
  }
  
  .postTitle {
    font-weight: bold;
    font-size: 1.5rem;
    margin: .5rem 0;
  }
  .postIntro {
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #353535;
    margin: .25rem 0;
    line-height: 1.5rem;
    @include overflowOpt();
    -webkit-line-clamp: 3; /* 라인수 */
  }
  .tagBox{
    // line-height: 1.5rem;
    margin-bottom: 1rem;
  }
}



// series 시리즈
.series {
  display: flex;
  flex-direction: column;
  align-self: center;
  position: relative;
  // height: 15rem;
  padding: 2.5rem 1rem;
  border-bottom: 1px solid lightgray;

  span {
    font-weight: bold;
    font-size: 1.5rem;
  };

  button {
    width: 6rem;
    margin: .5rem;
    height: 2.5rem;
    background: $velogL;
    color: white;
    @include buttonDefault();
  }

  ul {
    margin: 0 2rem;
  }

  // 버튼, absolute로 바꿀 예정
  .seriesDeleteBtn {
    position: absolute;
    right: 1rem;
  }

  .seriesMoreviewBtn{
    position: absolute;
    right: 1rem;
    bottom: 1rem;
  }

  .seriesTitle {
    margin: 0.5rem 0;
  }

  .seriesListBox {
    display: flex;
    margin: .5rem 0;

    img {
      width: 5rem;
      margin-right: .5rem;
    }
    
    .seriesListTxtBox {
      display: flex;
      flex-direction: column;
      margin: .5rem 0;
      width: 60%;

      .seriesListTitle {
        @include overflowOpt();
        font-size: 1.25rem;
        margin: .25rem 0;
      }
      .seriesListDesc {
        @include overflowOpt();
        font-size: 1rem;
      }
    }
  }
}

