.read {
  margin: 5rem 20rem 0 20rem;
  height: 200vh;
  .title {
    width: 70%;
    font-weight: bold;
    line-height: 1.3;
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .meta {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 4rem;
    div {
      display: flex;
    }
    .meta_data {
      width: 30%;
      max-width: 15rem;
      display: flex;
      justify-content: space-between;
      color: grey;
      & > div:nth-child(1) {
        color: black;
        font-weight: bold;
        cursor: pointer;
      }
    }
    .meta_button {
      display: flex;
      justify-content: space-between;
      width: 50%;
      max-width: 13rem;
    }
  }
  .series {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 10rem;
    cursor: pointer;
    h1 {
      font-weight: bold;
      font-size: 1.5rem;
    }
    div {
      display: flex;
      justify-content: space-between;
      width: 6rem;
    }
  }
  .tag {
    display: flex;
    align-items: center;
    height: 5rem;
    div {
      border-radius: 1rem;
      font-weight: bold;
      background-color: rgba(235, 232, 232, 0.685);
      color: rgb(77, 224, 173);
      padding: 0.6rem;
      cursor: pointer;
    }
  }
  .content {
    margin-top: 3rem;
    height: 20rem;
    border: 1px solid black;
  }
  .thumb {
    display: flex;
    justify-content: flex-end;
    height: 4rem;
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 30%;
      max-width: 10rem;
    }
    .thumbsUp {
      &:hover {
        cursor: pointer;
      }
    }
  }
}
