@import "node_modules/@pathofdev/react-tag-input/src/styles/index.scss";
.footer {
  margin-top: 20px;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  div {
    display: flex;
    justify-content: space-around;
    width: 20%;
  }
}
.title {
  height: 4rem;
  width: 100%;
  input {
    font-size: 2rem;
    padding: 0.5rem;
    width: 100%;
    border: none;
    border-radius: 10px;
  }
}
.body {
  padding: 1rem 3rem 3rem 3rem;
}
.meta_info {
  border: 1px solid rgb(160, 157, 157);
  border-top: 0px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  textarea {
    margin-top: 10px;
    padding: 0.5rem;
    border-radius: 10px;
  }
  h1 {
    font-weight: bold;
  }
  .image_field {
    width: 100%;
    .img {
      width: 70%;
      height: 6rem;
      margin: 1rem 0rem;
    }
  }
  .access {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    h1 {
      font-weight: bold;
    }
  }
  .series_field {
    width: 50%;
    height: 15rem;
    padding-right: 10px;
    padding-bottom: 10px;
    overflow: scroll;
    h1 {
      font-weight: bold;
    }
    .series_header {
      display: flex;
      justify-content: space-between;
      position: sticky;
    }
    .series_card {
      border: 1px solid grey;
      padding: 0.8rem;
      border-radius: 10px;
      height: 4rem;
      margin-top: 0.5rem;
      box-shadow: 5px 3px 4px 2px #aaa9a9;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
