.nav {
  align-items: center;
  margin-top: 40px;
  width: 100%;
  border: 1px solid black;
  height: 4rem;
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
