@mixin totalHeight {
  height: 2.5rem;
}

@mixin maxSize {
  max-width: 768px;
  margin: 0 auto;
  height: 2.5rem;
}
@mixin innerSize {
  width: 80%;
  margin: 0 auto;
}

// Header
.loginHeaderBox {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  height: 3rem;
  @include maxSize();

  border-bottom: 1px solid gray;

  span {
    line-height: 3rem;
    vertical-align: center;
  }
}

// Main
.loginContentBox{
  @include maxSize();
}

// Find ID
.columnBox {
  @include innerSize();
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;

  span {
    height: 3rem;
    line-height: 4rem;
  }
  input {
    height: 3rem;
  }
  button {
    height: 3rem;
  }
}

.inputAndBtn {
  display: grid;
  grid-template-columns: auto 80px;
  margin: .5rem 0;
}



.idPwBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  height: 12rem;
  margin: 1rem auto;
  
  .idInput, .pwInput, .loginBtn {
    margin: .5rem;
    @include totalHeight()
  }
}

@mixin flexDefault {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 1rem auto;
}

.twoBtnBox {
  @include flexDefault();
  @include totalHeight();
  button {
    width: 100%
  }
}

.socialLoginBox {
  @include flexDefault();
  @include totalHeight();
  button {
    width: 100%
  }
}

