
@import "../../common/colors.scss";

@mixin totalHeight {
  height: 2.5rem;
}

@mixin maxSize {
  max-width: 480px;
  margin: 0 auto;
  height: 2.5rem;
}

@mixin innerSize {
  width: 80%;
  margin: 0 auto;
}

@mixin flexDefault {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 1rem auto;
}

@mixin shadow {
  box-shadow: 5px 5px 15px 5px lightgrey;
}
@mixin shadowMini {
  box-shadow: 1px 1px 5px 1px lightgrey;
}

@mixin hoverEvent {
  cursor: pointer;
  &:hover {
    background: $LColor;
  }
}

.loginInput {
  margin-bottom: 1rem;
}

// Main
.loginContentBox {
  @include innerSize();
  @include shadowMini();
  position: relative;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  max-width: 560px;
  min-width: 360px;
  padding: 2rem;
  background: white;
  z-index: 2;

  span {
    height: 2.5rem;
    line-height: 2.5rem;
  }

  input {
    height: 3rem;
    margin-bottom: 0.75rem;
  }
  .loginInput {
    margin-bottom: 1.5rem;
  }
  

  button {
    height: 3rem;
    background: none;
    font-weight: bold;
    border: none;
    background: $mainColor;
    border-radius: .25rem;
    color: white;
    @include shadowMini();
    @include hoverEvent();
  }
}

.loginOuter {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba($color: gray, $alpha: 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.loginTitle {
  text-align: center;
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.xBtn {
  position: absolute;
  right: 1.5rem;
  line-height: 0.5rem;
  cursor: pointer;
}

// input과 버튼
.inputAndBtn {
  display: grid;
  grid-template-columns: auto 100px;
  // margin: .5rem 0;
  button {
    margin-left: 0.5rem;
  }
}

// 버튼 row 두개
.twoBtnBox {
  @include flexDefault();
  @include totalHeight();
  justify-content: space-between;

  button {
    width: 48%;
    background-color: $LLColor;
    &:hover {
      background: $mainColor;
    }
  }
}

// 소셜로그인 (아이콘용)
.socialLoginBox {
  @include flexDefault();
  @include totalHeight();
  justify-content: flex-start;

  button {
    width: 48%;
  }
}

.icons {
  margin: 0 1rem;
  font-size: 2rem;
  color: white;
  background: $mainColor;
  padding: 0.5rem;
  border-radius: 1.75rem;
  @include hoverEvent();

}

